@model MvcBoard.Models.Board

@{
    ViewBag.Title = "Details2";
}


<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">상세 읽기 -@Model.board_subject</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                @Model.board_subject 
            </div>
            <div class="panel-body">
                @Model.board_contents 
            </div>
        </div>
    </div>
    <div class="btn btn-primary" asp-controller="Board" asp-action="Index"></div>
</div>