@model MvcBoard.Models.User

<h2>회원가입</h2>

<form class="form-horizontal" method="post" asp-controller="Account" asp-action="Register">
    <div class="form-group">
        <label>ID</label>
        <input type="text" class="form-control" name="UserId" asp-for="UserId" placeholder="사용자 ID 입력" />
        <span class="text-danger">@Html.ValidationMessageFor(m => m.UserId)</span>

    </div>

    <div class="form-group">
        <label>PW</label>
        <input type="password" class="form-control" name="UserPassword" asp-for="UserPassword" placeholder="사용자 비밀번호 입력" />
        <span class="text-danger">@Html.ValidationMessageFor(m => m.UserPassword)</span>
    </div>

    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="UserName" asp-for="UserName" placeholder="사용자 이름 입력" />
        <span class="text-danger">@Html.ValidationMessageFor(m => m.UserName)</span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">가입</button>
        <a class="btn btn-warning" href="#">취소</a>
    </div>
</form>
